h1 {
    color: #E9E7DA;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
    font-size: 150%;
    letter-spacing: 2px;
    text-align: center;
    text-overflow: inherit;
    /*vertical-align: middle;*/
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: dash1 4.5s linear;
  }

body{
    background: #636B46;
    align-items: center;
    justify-content: center;
    background-blend-mode: lighten;
    overflow: scroll;
  }

/*#textcircle:checked + label > svg {
  opacity: 0%;
}
#circ:checked + label > div {
  opacity: 0%;
}*/

.click:hover + label > div {
  transform: scale3d(1.5);
}


@keyframes ripple3 {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.0);
  }
}

.ripple-background {
  animation: ripple3 4s infinite 8s;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.circle{
    position: absolute;
    border-radius: 50%;
    /*background: #636B46;*/
    background: #CDA34F;
    animation: ripple 8s none;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
.small{
  width: 200px;
  height: 200px;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.medium{
  width: 400px;
  height: 400px;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.large{
  width: 600px;
  height: 600px;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -400px 0 0 -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin: -500px 0 0 -500px;  
}
  
.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.85;
}
  
@keyframes ripple {
  /*0% {
    transform: scale(0);
    display: none;
  }*/
  1% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
    opacity: 1.0;
  }
  80%, 81.5% {
    transform: scale(2.5);
    opacity: 0.1;
  }

  100% {
    transform: scale(1.0);
  }
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 280;
  transform: translate(-50%, -50%);
  animation-delay: 4s;
  cursor: pointer;
}
  
.path {
  /*stroke-dashoffset: 0;
  stroke-dasharray: 100%;*/
  animation: dash 3.5s linear;
}
  
@keyframes dash {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }
  
  100% {
    opacity: 1.0;
  }

  100% {
    transform:translate3d(0,0,0);
  }
  75.3% {
    transform:translate3d(0,-15%,0);
  }
  50.98% {
    transform:translate3d(0,-30%,0);
  }
  0% {
    transform:translate3d(0,-45%,0);
  }
}

@keyframes dash1 {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  
  100% {
    opacity: 1.0;
  }
}